{% extends 'plotbase.html' %}


{% block head %}
{{block.super}}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{% endblock %}
{% block content %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
  <title>Direct</title>
</head>
<style>
  .ccst{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background-color:rgb(37, 100, 119) ;
    color: blanchedalmond;
    text-align: center;
  }
  .ccst2{
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background-color:rgb(37, 100, 119) ;
    color: blanchedalmond;
    text-align: center;
  }
  .ccst1{
    background-color: burlywood;
    height: 30px;
    border-radius: 5px;
  }
  body { 
    margin: 0;
  }
  
  #canvas {
    position: fixed;
  }
  
  .dg.ac {
    z-index: 1 !important;
  }
  .resultat{
    position: absolute;
    background: linear-gradient(to bottom, rgb(37, 100, 119) 0%, rgba(0,0,0,0.6) 100%);
    transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
    transform: scale(1);
    color: white;
    top: 55%;
    left: 57%;
  }
</style>
<body>
  {% if not plot %}
  <div class="login-box">
 >
 <div id="particles-js"></div>
  <form action="" method="post" id="myform">
    {% csrf_token %}
    <h4 id="titre1">Choississez un ellipoide de référence :</h4>
    <div>
      {{directform.ellipsoid}}
    </div>
    <h4> Grand axe (en m)</h4>
    <div>
      {{directform.grand}}
    </div>
    <h4> Petit axe (en m)</h4>
    <div>
      {{directform.petit}}
    </div>
    <h4 id="titre1" >Coordonnées du point de départ</h4>
    <h4 id="titre1">Latitude :</h4>  <div class="input1">{{directform.latitude}}</div>
    <h4 id="titre1">Longitude :</h4> <div class="input1">{{directform.longitude}}</div>
    <h4 id="titre1">Azimut du départ :</h4> <div class="input1">{{directform.azimut}}</div>
    <h4 id="titre1">La distance géodésique :</h4> <div class="input1">{{directform.distance_geodesique}}</div>
    <button type="submit" name="action" value="Calculer" class="glow-on-hover" id="btn">Calculer </button>
    <button type="submit" name="action" value="Visualiser" class="glow-on-hover">Visualiser </button>
  </form>
  <article>
    <figure>
        <!-- <video src="https://cdn-icons-mp4.flaticon.com/512/6416/6416399.mp4"></video> -->
        <!-- <img src="http://www.myspace.com/earthharmonics/giphy.gif" alt=""> -->
        <iframe src="https://giphy.com/embed/WlBUAWG03Zic8"  class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/earth-WlBUAWG03Zic8"></a></p>
    </figure>

    <div>
      <h4>Problème Direct</h4>
        <p>
          Étant donné les coordonnées géographiques du point de départ, une distance géodésique et un azimut géodésique de départ,En utilisant <strong>la formule directe de Vincenty</strong>  pour calculer les coordonnées d'un deuxième point ainsi que l'azimut géodésique inverse.
        </p>
        <h1>
            Geohub
        </h1>
    </div>
</article>
</div> 
  <div class="resultat">
    <h2>Les coordonnées du point d'arrivé :</h2>
    <h4>Latitude :</h4>
    <div>{{latitude2}}</div>
    <h4>Longitude :</h4>
    <div>{{longitude2}}</div>
    <h4>Azimut inverse :</h4>
    <div>{{alpha2}}</div>
  </div>
  {% else %}
  <div id="plot" style="display:block;">
      <div class="row" >
      <h2 class="visualisation">Visualisation</h2>
        {# <div id="plot_container" class="col-md-8 col-md-offset-2">{{plot|safe}}</div>#}
        <div class="">{{plot|safe}}</div>
        <button id="previous" class="previous glow-on-hover">&laquo; Précédent</button></div>
      </div>
      
  {% endif %}

  {% block javascript %}
  <script type="text/javascript">
    $(document).on('click', '#previous', function() {
        {
           window.history.go(-1);
        }});   
        const article = document.querySelector('article');

        // to compute the center of the card retrieve its coordinates and dimensions
        const {
          x, y, width, height,
        } = article.getBoundingClientRect();
        const cx = x + width / 2;
        const cy = y + height / 2;
        
        // following the mousemove event compute the distance betwen the cursor and the center of the card
        function handleMove(e) {
          const { pageX, pageY } = e;
        
          // ! consider the relative distance in the [-1, 1] range
          const dx = (cx - pageX) / (width / 2);
          const dy = (cy - pageY) / (height / 2);
        
          // rotate the card around the x axis, according to the vertical distance, and around the y acis, according to the horizontal gap 
          this.style.transform = `rotateX(${10 * dy * -1}deg) rotateY(${10 * dx}deg)`;
        }
        
        // following the mouseout event reset the transform property
        function handleOut() {
          this.style.transform = 'initial';
        }
        
        article.addEventListener('mousemove', handleMove);
        article.addEventListener('mouseout', handleOut);

        particlesJS("particles-js", {
          "particles": {
            "number": {
              "value": 355,
              "density": {
                "enable": true,
                "value_area": 789.1476416322727
              }
            },
            "color": {
              "value": "#ffffff"
            },
            "shape": {
              "type": "circle",
              "stroke": {
                "width": 0,
                "color": "#000000"
              },
              "polygon": {
                "nb_sides": 5
              },
              "image": {
                "src": "img/github.svg",
                "width": 100,
                "height": 100
              }
            },
            "opacity": {
              "value": 0.48927153781200905,
              "random": false,
              "anim": {
                "enable": true,
                "speed": 0.2,
                "opacity_min": 0,
                "sync": false
              }
            },
            "size": {
              "value": 2,
              "random": true,
              "anim": {
                "enable": true,
                "speed": 2,
                "size_min": 0,
                "sync": false
              }
            },
            "line_linked": {
              "enable": false,
              "distance": 150,
              "color": "#ffffff",
              "opacity": 0.4,
              "width": 1
            },
            "move": {
              "enable": true,
              "speed": 0.2,
              "direction": "none",
              "random": true,
              "straight": false,
              "out_mode": "out",
              "bounce": false,
              "attract": {
                "enable": false,
                "rotateX": 600,
                "rotateY": 1200
              }
            }
          },
          "interactivity": {
            "detect_on": "canvas",
            "events": {
              "onhover": {
                "enable": true,
                "mode": "bubble"
              },
              "onclick": {
                "enable": true,
                "mode": "push"
              },
              "resize": true
            },
            "modes": {
              "grab": {
                "distance": 400,
                "line_linked": {
                  "opacity": 1
                }
              },
              "bubble": {
                "distance": 83.91608391608392,
                "size": 1,
                "duration": 3,
                "opacity": 1,
                "speed": 3
              },
              "repulse": {
                "distance": 200,
                "duration": 0.4
              },
              "push": {
                "particles_nb": 4
              },
              "remove": {
                "particles_nb": 2
              }
            }
          },
          "retina_detect": true
        });         
  </script>    
  
{% endblock javascript %}
</body>
</html>
{%endblock%}