{% extends 'plotbase.html' %}

{% block head %}
{{block.super}}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{% endblock %}
{% block content %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
  <title>Direct</title>
</head>
<body>
  {% if not plot %}
  <form action="" method="post" id="myform">
    {% csrf_token %}
    <h4>Choississez un ellipoide de référence :</h4>
    <div>
      {{directform.ellipsoid}}
    </div>
    <h4> Grand axe (en m)</h4>
    <div>
      {{directform.grand}}
    </div>
    <h4> Petit axe (en m)</h4>
    <div>
      {{directform.petit}}
    </div>
    <h4>Coordonnées du point de départ</h4>
    <h4>Latitude :</h4> <div>{{directform.latitude}}</div>
    <h4>Longitude :</h4> <div>{{directform.longitude}}</div>
    <h4>Azimut du départ :</h4> <div>{{directform.azimut}}</div>
    <h4>La distance géodésique :</h4> <div>{{directform.distance_geodesique}}</div>
    <input type="submit" name="action" value="Calculer" class="btn btn-primary" id="btn">
    <button type="submit" name="action" value="Visualiser" class="btn btn-primary">Visualiser </button>
  </form>
  <div>
    <h2>Les coordonnées du point d'arrivé :</h2>
    <h4>Latitude :</h4>
    <div>{{latitude2}}</div>
    <h4>Longitude :</h4>
    <div>{{longitude2}}</div>
    <h4>Azimut inverse :</h4>
    <div>{{alpha2}}</div>
  </div>
  {% else %}
  <div id="plot" style="display:block;">
      <div class="row" >
      <h2 class="visualisation">Visualisation</h2>
        {# <div id="plot_container" class="col-md-8 col-md-offset-2">{{plot|safe}}</div>#}
        <div class="">{{plot|safe}}</div>
        <button id="previous" class="previous">&laquo; Back</button></div>
      </div>
      
  {% endif %}

  {% block javascript %}
  <script type="text/javascript">
    $(document).on('click', '#previous', function() {
        {
           window.history.go(-1);
        }});   
  </script>    
  
{% endblock javascript %}
</body>
</html>
{%endblock%}